a {
    text-decoration: none;
    font-size: 28px;
    color: #333333;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 20%;
    padding: 0px;
}
nav {
    padding: 0.3rem 0.3rem;
    width: max-content;
}
.center {
    margin: 0 auto;
}
.active{
    text-decoration: underline #333333;
}
@media only screen and (max-width: 400px) {
    ul {
        gap: 10%;
        flex-wrap: wrap;
    }
}