div {

}

h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 74px;
    text-align: left;
}

p {
    font-size: 24px;
    font-weight: 400;
    line-height: 31.65px;
    text-align: justify;
}

